{#
  ./templates/posts/index.html.twig
  Variables disponibles:
    - post posts(id, titreFr, slug, texte//to add ,image, date  )
#}
{% for post in posts %}
<div class="row">
  <div class="col-xs-4"><a href="{{ path('app_posts_show', {id: post.id, slug: post.slug}) }}"><img src="{{asset('img/blog/'~post.image)}}" alt=""></a></div>
  <div class="col-xs-8">
    <div class="caption"><a href="{{ path('app_posts_show', {id: post.id, slug: post.slug}) }}">{{post.titreFr}}</a></div>
    <div class="date">{{post.date | date("m/d/Y")}} </div>
    <div class="intro">{{ attribute(post, 'texte' ~ app.request.locale) }} <a href="{{ path('app_posts_show', {id: post.id, slug: post.slug}) }}">Read more...</a></div>
  </div>
</div>
{% endfor %}
